.dada{
  color:pink ;
  text-align: center;
  background-color:black;
}

body{
  background-color: black;
  width: auto;
  font-family: sans-serif;font-style: normal;
  font-size: 30px;
}

h1{
  color: pink;
  font-size: 40px;
  width:25%;
}

.list{
  text-align: center;
  padding: 10px;
}

ul li{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 25px;
}

.projects{
  display: block;
margin-top: 130px;
}

h2{
  color: white;
  font-style: lucida;
  font-size: 40px;
}

.image{
  float: left;
}
